@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* @import 'fancyInput.css'; */
  @import 'fancyBorder.css';

  body {
    font-family: 'Poppins', sans-serif;
    background: #fefefe;
    min-height: 100vh;
  }

  input {
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;

  }

  .section {
    border: 1px solid #9ba8b7;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem 0 1rem 0;
  }

  .sectionInner {
    border: 1px solid #9ba8b7;
    border-radius: 5px;
    padding: 5px;

  }

  .gear {
    color: #264f90;
    width: 20px;
    height: 20px;
    align-self: center;
    transition: all 0.5s;
  }

  .gear-active {
    transform: rotate(30deg);
    color: #f15941;
  }

















}